// @font-face {
//   font-family: 'Escrow';
//   src: url('./assets/Escrow-Light.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
// }

@font-face {
  font-family: 'Escrow';
  src: url('./assets/Escrow-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


// @font-face {
//   font-family: 'Tiempos';
//   src: url('./assets/TiemposText-Regular.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }



// @font-face {
//   font-family: 'NBAkademieStd';
//   src: url('./assets/NBAkademieStd-Medium.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
// }

@font-face {
  font-family: 'Akademie';
  src: url('./assets/Akademie-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Barlow';
  src: url('./assets/Barlow-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
// @font-face {
//   font-family: 'Barlow';
//   src: url('./assets/Barlow-Medium.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
// }